html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  /* First Theme */
  --red-grey: #534545;
  --red: #ff2600;
  --orange: #ff5100;
  --brown-black: #2c2020;
  --black: #000000;
  /* Second Theme */
  --black-grey: #1a1a1d;
  --blue: #1659f3;
  --cyan: #10c1be;
  --light-blue: #0489df;
  --white-blue: #62bcf3;
  --white: #ffffff;
  /* Intentions */
  --primary: var(--red-grey);
  --secondary: var(--black);
  --tertiary: var(--red);
  --quarternary: var(--orange);
  --quinary: var(--brown-black);
  /* Typography */
  --h1: 6.052rem;
  --h2: 5.441rem;
  --h3: 2.553rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
}
.First {
  --primary: var(--red-grey);
  --secondary: var(--black);
  --tertiary: var(--red);
  --quarternary: var(--orange);
  --quinary: var(--brown-black);
}
.Second {
  --primary: var(--black-grey);
  --secondary: var(--white);
  --tertiary: var(--blue);
  --quarternary: var(--light-blue);
  --quinary: var(--cyan);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
